.introduce__box {
  width: 100%;
  &__pic {
    transform: translateY(-1rem);
    margin: 0 15%;
    width: 70%;
    box-shadow: 1rem 1px 2rem rgba($color-grey-dark-2, 0.4);
    border-radius: 2px;
  }
}
.slider {
  max-width: 100rem;
  height: 50rem;
  margin: 0 auto;
  position: relative;

  /* IN THE END */
  overflow: hidden;
  .slide {
    position: absolute;
    top: 0;
    width: 100%;
    height: 50rem;

    display: flex;
    align-items: center;
    justify-content: center;

    /* THIS creates the animation! */
    transition: transform 1s;
    & > img {
      /* Only for images that have different size than slide */
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__btn {
    position: absolute;
    top: 50%;
    z-index: 10;

    border: none;
    backdrop-filter: blur(10px);
    background: rgba($color-white, 0.2);
    font-family: inherit;
    color: $color-primary;
    border-radius: 50%;
    height: 4.5rem;
    width: 4.5rem;
    cursor: pointer;
    &--left {
      left: 6%;
      transform: translate(-50%, -50%);
    }

    &--right {
      right: 6%;
      transform: translate(50%, -50%);
    }
  }
  &__icon {
    width: 100%;
    height: 100%;
    fill: $color-primary;
  }
  .dots {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    &__dot {
      border: none;
      background-color: $color-grey-dark-2;
      opacity: 0.7;
      height: 1rem;
      width: 1rem;
      border-radius: 50%;
      margin-right: 1.75rem;
      cursor: pointer;
      transition: all 0.5s;

      /* Only necessary when overlying images */
      /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
      &:last-child {
        margin: 0;
      }

      &--active {
        /* background-color: #fff; */
        background-color: $color-grey-dark-3;
        opacity: 1;
      }
    }
  }
}
