.header {
  height: 85vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/hero-small.jpg);
  background-size: cover;
  background-position: top center;
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    height: 95vh;
  }
  @include respond(phone) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }
  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
    only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
    only screen and (min-width: 125em) {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)
      ),
      url(../img/hero.jpg);
  }

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
.header__navigation {
  @include respond(phone) {
    display: none;
  }
  position: absolute;
  width: calc(100% - 6rem);
  @include respond(tab-port) {
    width: 100%;
  }
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem 0 2rem;
  z-index: 100;
  &.sticky {
    margin-top: -3rem;
    @include respond(tab-port) {
      margin-top: 0;
    }
    position: fixed;
    backdrop-filter: blur(5px);
    background-color: rgba($color-primary-light, 0.8);
    .menu__class {
      backdrop-filter: blur(5px);
      background-color: rgba($color-primary-light, 0.9);
    }
  }

  .header__logo {
    height: 4.75rem;
    transition: all 0.3s;
  }
  .menu {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    font-size: 2.5rem;
    color: $color-white;
    list-style: none;
    font-weight: 300;
    & > * {
      margin: 0 2rem;
    }
    &__class {
      list-style: none;
      position: absolute;
      top: 0;
      left: 52%;
      padding: 0 1.5rem;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      z-index: 50;
      visibility: hidden;
      height: 0;
      opacity: 0;
      transition: all 0.3s cubic-bezier(0.58, 0.05, 0.39, 1);
      &.hidden {
        display: none;
      }
      .nav_item:not(:last-child) {
        display: block;
        border-bottom: 2px solid $color-primary;
      }
    }
    .nav_item {
      .classes__checkbox {
        display: none;
        &:checked ~ .menu__class {
          top: 100%;
          visibility: visible;
          height: fit-content;
          opacity: 1;
        }
      }

      .nav_link {
        &,
        &:link,
        &:visited {
          padding: 1rem 0 0.7rem 0;
          color: inherit;
          text-decoration: none;
          display: block;
          transition: all 0.3s;
          border-bottom: 2px solid transparent;
        }
        &:hover,
        &:active {
          border-bottom: 2px solid $color-white;
        }
      }
    }
  }
}
